[**Suluk**](../../../README.md)

***

[Suluk](../../../packages.md) / [@suluk/core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/686a9e1a5deb9fd975e16addda8eab9635242992/tooling/ts/packages/core/src/validate.ts#L5)

## Properties

### errors

> **errors**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/686a9e1a5deb9fd975e16addda8eab9635242992/tooling/ts/packages/core/src/validate.ts#L5)

***

### valid

> **valid**: `boolean`

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/686a9e1a5deb9fd975e16addda8eab9635242992/tooling/ts/packages/core/src/validate.ts#L5)
