[**Suluk**](../../../README.md)

***

[Suluk](../../../packages.md) / [@suluk/core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/c1aead3c4d317f73b0e055f0bc85bdb50e0c8a74/tooling/ts/packages/core/src/validate.ts#L5)

## Properties

### errors

> **errors**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/c1aead3c4d317f73b0e055f0bc85bdb50e0c8a74/tooling/ts/packages/core/src/validate.ts#L5)

***

### valid

> **valid**: `boolean`

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/c1aead3c4d317f73b0e055f0bc85bdb50e0c8a74/tooling/ts/packages/core/src/validate.ts#L5)
