[**Suluk**](../../../README.md)

***

[Suluk](../../../packages.md) / [@suluk/core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/55fa001f13aff683539d55f653ea19ece6bd829c/tooling/ts/packages/core/src/validate.ts#L5)

## Properties

### errors

> **errors**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/55fa001f13aff683539d55f653ea19ece6bd829c/tooling/ts/packages/core/src/validate.ts#L5)

***

### valid

> **valid**: `boolean`

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/55fa001f13aff683539d55f653ea19ece6bd829c/tooling/ts/packages/core/src/validate.ts#L5)
