[**Suluk**](../../../README.md)

***

[Suluk](../../../packages.md) / [@suluk/core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/6ca20cc58a630d10d850c784bcf2e00a0e69bc7c/tooling/ts/packages/core/src/validate.ts#L5)

## Properties

### errors

> **errors**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/6ca20cc58a630d10d850c784bcf2e00a0e69bc7c/tooling/ts/packages/core/src/validate.ts#L5)

***

### valid

> **valid**: `boolean`

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/6ca20cc58a630d10d850c784bcf2e00a0e69bc7c/tooling/ts/packages/core/src/validate.ts#L5)
