[**Suluk**](../../../README.md)

***

[Suluk](../../../packages.md) / [@suluk/core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/aaf30cfa393544c0ef54e004d9e2f37412540fa8/tooling/ts/packages/core/src/validate.ts#L5)

## Properties

### errors

> **errors**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/aaf30cfa393544c0ef54e004d9e2f37412540fa8/tooling/ts/packages/core/src/validate.ts#L5)

***

### valid

> **valid**: `boolean`

Defined in: [validate.ts:5](https://github.com/MahmoodKhalil57/suluk/blob/aaf30cfa393544c0ef54e004d9e2f37412540fa8/tooling/ts/packages/core/src/validate.ts#L5)
